body{
    overflow: scroll;
    background-color: #D1D1E8;
}

.search{
    align-items: center;
    border: 1px solid black;
    width: 950px;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
}

.result{
    border: 1px solid black;
    width: 950px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
}