.login{
    align-items: center;
    border: 1px solid black;
    width: 330px;
    height: auto;
    padding: 20px;
    margin: auto;
    background-color: #fff;
}

body{
    overflow: scroll;
    background-color: #D1D1E8;
}